In [1]:
%matplotlib inline
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({
    "name" : ["Joe","Bob","Frans"],
    "age" : np.array([10,15,20]),
    "weight" : (75,123,239),
    "height" : pd.Series([4.5,5,6.1], index=["Joe","Bob","Frans"]),
    "siblings" : 1,
    "gender" : "M"
})

In [3]:
df

       age gender  height   name  siblings  weight
Joe     10      M     4.5    Joe         1      75
Bob     15      M     5.0    Bob         1     123
Frans   20      M     6.1  Frans         1     239

In [4]:
df[[True, False, True]]

       age gender  height   name  siblings  weight
Joe     10      M     4.5    Joe         1      75
Frans   20      M     6.1  Frans         1     239

In [5]:
from ggplot import mtcars

/Users/ianchan/anaconda2/lib/python2.7/site-packages/ggplot/utils.py:81: FutureWarning: pandas.tslib is deprecated and will be removed in a future version.
You can access Timestamp as pandas.Timestamp
  pd.tslib.Timestamp,
/Users/ianchan/anaconda2/lib/python2.7/site-packages/ggplot/stats/smoothers.py:4: FutureWarning: The pandas.lib module is deprecated and will be removed in a future version. These are private functions and can be accessed from pandas._libs.lib instead
  from pandas.lib import Timestamp
/Users/ianchan/anaconda2/lib/python2.7/site-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [6]:
type(mtcars)

pandas.core.frame.DataFrame

In [7]:
mtcars.shape

(32, 12)

In [8]:
mtcars.head(3)

,name,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1

In [9]:
mtcars.tail(3)

             name   mpg  cyl   disp   hp  drat    wt  qsec  vs  am  gear  carb
29   Ferrari Dino  19.7    6  145.0  175  3.62  2.77  15.5   0   1     5     6
30  Maserati Bora  15.0    8  301.0  335  3.54  3.57  14.6   0   1     5     8
31     Volvo 142E  21.4    4  121.0  109  4.11  2.78  18.6   1   1     4     2

In [10]:
mtcars.index

RangeIndex(start=0, stop=32, step=1)

In [11]:
mtcars.index = mtcars["name"]

In [12]:
del mtcars["name"]

In [13]:
print(mtcars.index)[:3]

Index([u'Mazda RX4', u'Mazda RX4 Wag', u'Datsun 710'], dtype='object', name=u'name')

In [14]:
mtcars.loc["Mazda RX4"]

mpg      21.00
cyl       6.00
disp    160.00
hp      110.00
drat      3.90
wt        2.62
qsec     16.46
vs        0.00
am        1.00
gear      4.00
carb      4.00
Name: Mazda RX4, dtype: float64

In [15]:
mtcars.iloc[0]

mpg      21.00
cyl       6.00
disp    160.00
hp      110.00
drat      3.90
wt        2.62
qsec     16.46
vs        0.00
am        1.00
gear      4.00
carb      4.00
Name: Mazda RX4, dtype: float64

In [16]:
mtcars.ix[:, :6].describe()

/Users/ianchan/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate_ix
  """Entry point for launching an IPython kernel.

             mpg        cyl        disp          hp       drat         wt
count  32.000000  32.000000   32.000000   32.000000  32.000000  32.000000
mean   20.090625   6.187500  230.721875  146.687500   3.596563   3.217250
std     6.026948   1.785922  123.938694   68.562868   0.534679   0.978457
min    10.400000   4.000000   71.100000   52.000000   2.760000   1.513000
25%    15.425000   4.000000  120.825000   96.500000   3.080000   2.581250
50%    19.200000   6.000000  196.300000  123.000000   3.695000   3.325000
75%    22.800000   8.000000  326.000000  180.000000   3.920000   3.610000
max    33.900000   8.000000  472.000000  335.000000   4.930000   5.424000

In [17]:
np.mean(mtcars, axis=0)

mpg      20.090625
cyl       6.187500
disp    230.721875
hp      146.687500
drat      3.596563
wt        3.217250
qsec     17.848750
vs        0.437500
am        0.406250
gear      3.687500
carb      2.812500
dtype: float64

In [18]:
d = {'fname': 'Ian', 'lname': 'Chan'}

In [19]:
def keyflipper(**kwargs): return {kwargs[key]: key for key in kwargs.keys()}

In [20]:
keyflipper(**d)

{'Chan': 'lname', 'Ian': 'fname'}

In [21]:
words = ["life", "is", "study"]
wlens = [4, 2, 5]

In [22]:
{key: value for (key, value) in zip(words, wlens)}

{'is': 2, 'life': 4, 'study': 5}

In [23]:
def sum_args(*args):
    for a in args:
        print a
    return sum(args)
    
sum_args(1, 2, 3)

1
2
3

6

In [24]:
def shop(kind, *args, **kwargs):
    print("Do you have any {}?".format(kind))
    for arg in args:
        print(arg)
    for kw in kwargs:
        print("{}: {}".format(kw, kwargs[kw]))
    
shop("things", 10, 20, 30, things_we_have='nuts')

Do you have any things?
10
20
30
things_we_have: nuts

In [25]:
def meanmaker(*args): return np.mean(args)

meanmaker(0, 10, 20, 30, 40, 50)

25.0

In [28]:
def keyflipper(**kwargs):
    return {kwargs[k]: k for k in kwargs.keys()}

pred = {'fname':'ian', 'lname':'chan'}
keyflipper(**pred)

{'chan': 'lname', 'ian': 'fname'}

In [29]:
def make_incrementor(n):
    return lambda x: x + n

In [30]:
make_incrementor(42)(40)

82