In [1]:
%matplotlib inline
%reload_ext autoreload
%autoreload 2

import pandas as pd
import numpy as np

from utils.explore import *

In [10]:
dates = pd.read_clipboard(sep="\t", index_col=0, parse_dates=[i for i in range(4)])

In [11]:
dates

  month_day_year day_month_year           date_time      year_month_day
1     1996-04-22     1996-04-22 1996-08-11 09:50:35          2007-06-22
2     1996-04-23     1996-04-23 2016-05-12 19:50:35          2017-01-09
3     1996-05-14     1996-05-14 2017-10-14 09:50:35          1998-04-12
4     1996-05-15     1996-05-15 2018-01-11 09:50:35          2027-07-22
5     2001-05-16     2001-05-16 2019-03-11 07:30:36          1945-11-15
6     2002-05-17     2002-05-17 2020-08-11 09:50:35          1942-06-22
7     2003-05-18     2003-05-18 2021-12-21 09:50:35 1887-06-13 00:00:00
8     2004-05-19     2004-05-19 2022-01-11 09:50:35          1912-01-25
9     2005-05-20     2005-05-20 2023-07-10 19:40:25          2007-06-22

In [12]:
dates.dtypes

month_day_year    datetime64[ns]
day_month_year    datetime64[ns]
date_time         datetime64[ns]
year_month_day    datetime64[ns]
dtype: object

In [14]:
pd.to_datetime("12:30:15 2015-29-11", format="%H:%M:%S %Y-%d-%m")

Timestamp('2015-11-29 12:30:15')